#blue-button {
    background-color: #5797db;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    font-size: 16px;
    cursor: pointer;
    position: fixed;
    top: 50%;
    right: 0;
    margin-top: -40px;
  }
  
  #blue-button:hover {
    background-color: #0056b3;
  }
  